form, table{
    break-inside: avoid;
    page-break-inside: avoid;
}
input[type=submit]{    
    background-color: rgb(23, 65, 148);
}

input, select{    
    border: 0;
    width: 250px;
    background-color: #e84d0d;
    color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

::placeholder{
    color:white;
}

.box select{    
  appearance: button;
  outline: none;
}

option:focus {
    color: rgb(30, 0, 255);
}

table, th, td{
    border: 2px solid #e84d0d;
    border-collapse: collapse;
}

th, td{
    padding: 8px;
}
table{
    position: inherit;    
    top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.delete{
    display: inline;
    margin-top: 50px;
}

.msg{
    color: rgb(30, 0, 255);
}

.ensemble{
    break-inside: avoid;
    page-break-inside: avoid;
}