.carrecolorer {
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
form {
    width:100%;
    padding: 20px;
    border: 1px solid #174194;
    background: rgba(23, 65, 148,0.6);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);     
    animation: 0.5s linear slidein;
    border-radius: 10px;
}

.logo{
    width : 100px;
    height : 100px;
    display: block;
    margin: auto;
}

.inputModerne{
    background: transparent;
    border: 0;
    border-bottom: 3px solid #e84d0d;    
    display: block;
    margin: auto;
}

::placeholder{
    color:white;
}
input[type=text] {
    color: white;
}
input[type=password] {
    color: white;
}

.buttonCo{
    background-color: #e84d0d;
    display: block;
    margin: auto;
    border: 5px solid #e84d0d;
    border-radius: 10px;
}

input[value]{
    font-size: 25px;
    font-weight: bold;
    color: antiquewhite;
}

.mdpOublie{
    padding-top: 5%;
    color: #ffffff;
    display: block;
    text-align: center;
    animation: 0.5s linear slidein;
}

@keyframes slidein {
    from {transform: translate(-10%);}
    to {transform: translate(0%);}
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#errorMessage{
    color: red;
}