.carreblanc{
  column-count: 2;
}

table{
  position:relative; 
  break-inside: avoid; 
  page-break-inside: avoid;
  border: 2px solid #e84d0d;
  border-collapse: collapse;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}

th, td{
  padding: 8px;
  border: 2px solid #e84d0d;
}

input[type="checkbox"] {
  display: grid;
  place-content: center;  
  width: 15px;
  height: 15px;
}